@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;  
}

body{
    background: #282828;
    overflow-x: hidden;
}
nav{
    background: #2c2e30;
    display: flex;
    align-items: center;
    text-align: right;
    height: 60px;
    padding: 0 100px;
    
}
nav .logo{
    cursor: pointer;

}
nav .nav-items{
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
    margin-left: 450px;

}

nav .nav-items a{
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    margin-left: 15px;

}

nav .nav-items a i{
    color: #368338e1;
    padding: 5px;
}

nav form{
    display: flex;
    height: 40px;
    padding: 2px;
    background-color: #1e232b;
    min-width: 18% !important;
    border-radius: 30px;
    border: 1px solid rgba(155, 155, 155, 0.2);

}
nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

nav form button{
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #368338e1;
    border: none;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    cursor: pointer;
}

nav form button:hover{
    background-color: #52a055e1;
}

.content{
    margin-top: 30px;
    color: #fff;
    text-align: center;
}
.content h1{
    justify-content: space-between;
    letter-spacing: 5px;
    font-family: 'EB Garamond', 'sans-serif';

}
.content p{
    margin-top: 30px;
    font-family: "Raleway", "serif";
}

.content p i{
    color: #368338e1;
}   
.content .underline{
    width: 50%;
    height: 50px;
}

.movie-items{
    width: 100%;
    height: 10%;
    margin-top: 30px;
    margin-left: 1%;
    padding: 20px;
}

.column{
    float: left;
    width: 16.66%;
    cursor: pointer;
}
.column img{
    border-radius: 5px;
}

.row::after{
    content: '';
    clear: both;
    display: table;
}

.column h4 , p{
    color: #fff;
    text-align: center;
    padding: 5px;
}

.column:hover{
    scale: 1.1;
}

.home-note{
    margin-top: 30px;
    color: #fff;
    text-align: center;
    background-color: #2c2e30;
    padding: 35px 15px;
    border: 1px solid #2f2f2f;
    font-size: 22px;
    font-weight: 700;
}

.home-note h3{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #ccc;
}
.home-note p{
    font-size: 14px;
    font-weight: 400;
    color: #ccc;
    padding-top: 15px;
    padding-bottom: 15px;

}

.home-note form{
    display: flex;
    height: 40px;
    width: 40%;
    margin: auto;
    /* margin-left: 450px; */
    padding: 2px;
    background-color: #1e232b;
    min-width: 18% !important;
    border-radius: 30px;
    border: 1px solid rgba(155, 155, 155, 0.2);

}

.home-note .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

.home-note form button{
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #368338e1;
    border: none;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    cursor: pointer;
}

.home-note form button:hover{
    background-color: #52a055e1;
}

.webseries-container{
    margin: 30px 0 0;
    
}

.web-logo{
    color: #eae6e6;
    font-family: Raleway, serif;
    font-weight: 400;
    font-size: 30px;
    padding-left: 1px;
}
.web-logo i{
    color:#49c14de1;
}
.webseries-items{
    margin-top: 30px;
    background-color: blue;
}


.footer-container{
    color: rgb(153,153,153);
    background: #1e232b;
    font-size: 12px;
    font-weight: 400;
    padding: 25px 2% 30px;
    margin-top: 400px;
    font-family: Raleway, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(155, 155, 155, 0.2);
}